header {
  background: white;
  background: linear-gradient(200deg, rgba(255, 255, 255, 0) 43%, black 100%);
  color: var(--LightColor);
  padding: 5%;
  background-position: left;
  transition: all 1s;
  backdrop-filter: blur(5px);
  border-radius: 20px; }
  header a {
    display: inline-block;
    border-radius: 5px;
    background-color: var(--DarkAccentTransp);
    padding: 5px;
    border-width: 1px;
    border-style: none;
    backdrop-filter: blur(15px); }
    header a :hover {
      background-color: var(--DarkAccent);
      color: var(--LightColor);
      border-color: var(--LightColor);
      border-style: solid; }
  header h1, header h2 {
    filter: drop-shadow(10px 15px 10px var(--LightAccent));
    /*box-shadow: 15px 15px 100px #FFFFFF;*/ }
  header > h1 {
    font-family: 'Tangerine', cursive;
    font-size: 5rem;
    text-align: left; }
  header > h2 {
    text-align: left; }
